__pycache__
*.pyc
.vscode
.idea/
.idea_modules/
.DS_Store
config.py
*.db
app/static/css/semantic.css
app/static/css/semantic.min.css
app/static/js/semantic.js
app/static/js/semantic.min.js
assets/out/css/semantic.css
assets/out/css/semantic.min.css
.tup/